<ion-view hide-nav-bar="true">
  <ion-content class="express">

    <div class="top-bar"></div>
    <div class="wrapper">
      <h1 class="center">EXPRESS MENU</h1>
      <!-- AQUEST DIV S'HA D'AMAGAR -->
      <div class="create-menu" ng-show="show_me">
        <p class="center">Let Kronos do the work for you! Create meal plannings with a single tap.</p>
        <p class="tap center">Select number of people:</p>
        <div class="selector center">
          <img id="minus" width="35" src="../img/decrease.svg" ng-click="dec()">
          <input readonly value="{{val}}"></input>
          <img id="plus" width="35" src="../img/increase.svg" ng-click="inc()">
        </div>
        <div ng-click="show_me = !show_me" class="button center">CREATE</div>
      </div>
      <!-- AQUEST DIV S'HA DE MOSTRAR QUAN CREEM EL MENU -->
      <div class="confirm-menu" ng-hide="show_me">
        <div class="meal center">
          <img class="recipe-img" src="">
          <img width="20" class="favorite" src="../img/fav.svg" ng-click="toggle()">
          <div class="duration">
            <img src="../img/clock.svg" alt="Clock">
            <p>15'</p>
          </div>
          <div class="meal-info">
            <h2>RECIPE TITLE</h2>
            <p>First Course</p>
          </div>
        </div>
        <div class="meal center">
          <img class="recipe-img" src="">
          <img width="20" class="favorite" src="../img/fav.svg" ng-click="toggle()">
          <div class="duration">
            <img src="../img/clock.svg" alt="Clock">
            <p>15'</p>
          </div>
          <div class="meal-info">
            <h2>RECIPE TITLE</h2>
            <p>Second Course</p>
          </div>
        </div>
        <div class="buttons center">
          <img width="60" src="../img/reload.svg" class="update" ng-click="">
          <a href="/#/tab/planning-first"><img width="60" src="../img/confirm.svg" class="confirm"></a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
