<ion-view hide-nav-bar="true">
  <ion-content class="home">

    <div class="row top" ng-hide="plans.length">
      <div class="center" style="margin-top: 50px;" >
      <h2>NO UPCOMING PLANS</h2>
        <div style="margin: 10px 0;"><a class="center" href="#/tab/planning-first"><img class="center" width="100" src="../img/plus.svg"></a></div>
        <p>Tap here to create <br>your first plan!</p>
      </div>
    </div>
    <div class="top meal" ng-show="plans.length">
      <div class="day-wrapper">
        <img src="" class="recipe-img">
        <div class="day">
          <p>
            01
            <span>MON</span>
          </p>
        </div>
      </div>
      <div class="duration">
        <img src="../img/clock.svg" alt="Clock">
        <p>15'</p>
      </div>
      <div class="meal-info">
        <p>NEXT MEAL:</p>
        <h2>RECIPE TITLE</h2>
        <p>Dinner</p>
      </div>
    </div>


    <!-- BOTONS MENÚ -->

    <div class="menu">
      <a id="planning" href="/#/tab/planning-first">
        <div style="position: relative; top: 50%; transform: translateY(-50%);">
          <img height="50" src="../img/planning.svg" alt="Planning">
          <h1>WEEK PLANNING</h1>
        </div>
      </a>
      <a id="express" href="/#/tab/express-menu">
        <div style="position: relative; top: 50%; transform: translateY(-50%);">
          <img height="50" src="../img/express.svg" alt="Express">
          <h1>EXPRESS MENU</h1>
        </div>
      </a>
      <a id="shoppinglist" href="/#/tab/list">
        <div style="position: relative; top: 50%; transform: translateY(-50%);">
          <img height="50" src="../img/shoppinglist.svg" alt="List">
          <h1>SHOPPING LIST</h1>
        </div>
      </a>
      <a id="user" href="/#/tab/user">
        <div style="position: relative; top: 50%; transform: translateY(-50%);">
          <img height="50" src="../img/user.svg" alt="User">
          <h1>USER</h1>
        </div>
      </a>
    </div>

  </ion-content>
</ion-view>
