<ion-view hide-nav-bar="true" >
  <ion-content padding class="login">
    <div class="row">
      <div class="logo col col-80 col-offset-10">
        <img src="../img/Logo.svg" alt="logo">
      </div>
    </div>
    <form ng-submit="loginForm()">
    <div style="margin-left: -10px;" class="row">
      <div class="col col-80 col-offset-10">
        <div class="list list-inset">
      <label class="item item-input">
        <img src="../img/icon-user.svg" alt="icona1">
        <input required type="text" placeholder="USERNAME" ng-model="user['users_username']">
      </label>
      <label class="error">{{error}}</label>
      <label class="item item-input">
        <img src="../img/icon-pass.svg" alt="icona2">
        <input required type="password" placeholder="PASSWORD" ng-model="user['users_password']">
      </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center">
        <button class="button button-block login-button">
        LOG IN
        </button>
      </div>
    </div>
  </form>
    <div class="row">
      <div style="width: ;" class="center">
        <button class="button button-block fb-button" ng-click="loginFacebook()">
          <img width="25" src="../img/icon-fb.png">
        </button>
        <button class="button button-block g-button">
          <img width="60" src="../img/icon-g+.png">
        </button>
      </div>
    </div>
    <div class="row">
      <div class="center">
        <h3>Don't have an account?</h3>
        <h3><a href="/#/register">Sign Up</a></h3>
      </div>
    </div>
  </ion-content>
</ion-view>
