<ion-view view-title="MANUAL-PRESETS">
  <ion-content> 
    <div class="row">
        <h2>MANUAL</h2>
        <h3>Choose your own dishes and recipes to cook throughout the week</h3>
    </div>
        
    <div class="row">
        <button class="button button-block button-energized">
          <a img="" href="#"></a>
        </button>
    </div>   
     
    <div class="row">
        <h2>PRESETS</h2>
        <h3>Let Kronos do the work for you!</h3>
        <h3>Choose one of ourpreset food plans</h3>
    </div>
           
    <div class="row">
        <button class="button button-block button-energized">
          <a img="" href="#"></a>
        </button>
      </div>
    
  </ion-content>
</ion-view>
