<ion-view>
  <ion-content>

    <div class="row">
        <div class="col col-33">
        <h2>A-Z</h2>
        </div>


      <div class="col col-33">
        <h2>TIME</h2>
      </div>

      <div class="col col-33">
        <h2>DIF</h2>
      </div>
    </div>


    <div class="row">
      <div class="col col-90">
        <p>MEAT 1</p>
      </div>
      <div class="col col-10">
        <a><img="" alt="+">--></a>
      </div>
    </div>

    <div class="row">
      <div class="col col-90">
        <p>MEAT 2</p>
      </div>
      <div class="col col-10">
        <a><img="" alt="+">--></a>
      </div>
    </div>

    <div class="row">
      <div class="col col-90">
        <p>MEAT 3</p>
      </div>
      <div class="col col-10">
        <a><img="" alt="+">--></a>
      </div>
    </div>

    <div class="row">
      <div class="col col-90">
        <p>MEAT 4</p>
      </div>
      <div class="col col-10">
        <a><img="" alt="+">--></a>
      </div>
    </div>

    </ion-content>
    </ion-view>
