<ion-view title="PLAN NAME">
  <ion-content>

    <div class="row">
        <div class="col col-50 col-offset-25">
        <h2>PLAN NAME</h2>
        </div>
    </div>

      <div class="row">
        <div class="col col-80 col-50">
            <select>
                <option img="">LUNCH</option>
            </select>
        </div>

        <div class="col col-80 col-50">
            <select>
                <option img="">DINNER</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col col-90 col-offset-5">
          <a img="" alt="+"></a>
        </div>
    </div>

</ion-content>
</ion-view>
