<ion-view hide-nav-bar="true">
  <ion-content class="week-plan">
  <div class="week-plan" ng-show="plans.length">
    <div class="row">
        <div class="col col-50 col-offset-25">
        <h1>PLAN NAME</h1>
        </div>
    </div>

    <div class="row dies">
      <div class="dia col col-14 active">
        <p>MON</p>
        <span>8</span>
      </div>

      <div class="dia col col-14">
        <p>TUE</p>
        <span>9</span>
      </div>

      <div class="dia col col-14">
        <p>WED</p>
        <span>10</span>
      </div>

      <div class="dia col col-14">
        <p>THU</p>
        <span>11</span>
      </div>

      <div class="dia col col-14">
        <p>FRI</p>
        <span>12</span>
      </div>

    <div class="dia col col-14">
      <p>SAT</p>
      <span>13</span>
    </div>

    <div class="dia col col-16">
      <p>SUN</p>
      <span>14</span>
    </div>
</div>

      <div class="meal-type">
        <div>
          <h3 class="active">LUNCH</h3>
        </div>
        <div>
          <h3>DINNER</h3>
        </div>
      </div>
  <div class="wrapper">
    <div class="meal center">
      <img class="recipe-img" src="">
      <img width="20" class="favorite" src="../img/fav.svg" ng-click="toggle()">
      <div class="duration">
        <img src="../img/clock.svg" alt="Clock">
        <p>15'</p>
      </div>
      <div class="meal-info">
        <h2>RECIPE TITLE</h2>
        <p>First Course</p>
      </div>
    </div>
    <div class="meal center">
      <img class="recipe-img" src="">
      <img width="20" class="favorite" src="../img/fav.svg" ng-click="toggle()">
      <div class="duration">
        <img src="../img/clock.svg" alt="Clock">
        <p>10'</p>
      </div>
      <div class="meal-info">
        <h2>RECIPE TITLE</h2>
        <p>Second Course</p>
      </div>
    </div>
      <a class="add center">+</a>
  </div>
</div>



  </ion-content>
</ion-view>
