<ion-view>
  <ion-content>

    <div class="preset">
        <h2>FIRST PRESET</h2>
        <p>Very nice first present description, you will have plenty of options</p>
    </div>

    <div class="preset">
        <h2>SECOND PRESET</h2>
        <p>Very nice first present description, you will have plenty of options</p>
    </div>

    <div class="preset">
        <h2>THIRD PRESET</h2>
        <p>Very nice first present description, you will have plenty of options</p>
    </div>

    <div class="preset">
        <h2>FOURTH PRESET</h2>
        <p>Very nice first present description, you will have plenty of options</p>
    </div>

  </ion-content>
  </ion-view>
