<ion-view hide-nav-bar="true">
  <ion-content padding class="register">
    <div class="row">
        <h2>CHOOSE YOUR AVATAR</h2>
    </div>
    <div class="row">
        <div class="center">
            <img id="avatar1" width="60" style="margin: 0 5px;" src="../img/icon-man.svg" ng-click="avatar(1)" ng-model="user.users_icon">
            <img id="avatar2" width="60" style="margin: 0 5px;" src="../img/icon-woman.svg" ng-click="avatar(2)" ng-model="user.users_icon">
        </div>
    </div>
<form name="myForm" ng-submit="registerForm()">
    <div class="row">
      <div class="col col-80 col-offset-10">
        <div class="list list-inset">
      <label class="item item-input">
        <img src="../img/icon-user.svg" alt="icona1">
        <input  required type="text" placeholder="USERNAME" ng-model="user.users_username">
      </label>
      <label class="item item-input">
        <img src="../img/icon-mail.svg" alt="icona2">
        <input id="email" name ="input" required type="email" placeholder="EMAIL" ng-model="user.users_email">
      </label>
      <label class="item item-input">
        <img src="../img/icon-pass.svg" alt="icona2">
        <input  required type="password" placeholder="PASSWORD" ng-model="user.users_password">
      </label>
      <label class="item item-input">
        <img src="../img/icon-pass.svg" alt="icona2">
        <input required type="password" placeholder="REPEAT PASSWORD" ng-model="user.users_repeatpassword">
      </label>
      <label>{{error}}</label>
      <div role="alert" class="error">
  <span class="error" ng-show="myForm.input.$error.required">
    Email Required!</span>
  <span class="error" ng-show="myForm.input.$error.email">
    Not valid email!</span>
</div>
        </div>
      </div>
    </div>
        <button class="center button register-button">
          SIGN UP
        </button>
  </form>
    <div class="row">
      <div class="col col-75 center">
        <h3>Already have an account?</h3>
        <h3><a href="#/login">Log In</a></h3>
      </div>
    </div>
  </ion-content>
</ion-view>
