 <ion-tabs>

  <ion-tab id="planning" class="tabs-background-planning" href="#/tab/planning-first">
    <ion-nav-view name="planning-first"></ion-nav-view>
  </ion-tab>


  <ion-tab id="express" class="tabs-background-express" href="#/tab/express-menu">
    <ion-nav-view name="express-menu"></ion-nav-view>
  </ion-tab>


  <ion-tab id="shoppinglist" class="tabs-background-list" href="#/tab/shopping-list">
    <ion-nav-view name="shopping-list"></ion-nav-view>
  </ion-tab>


  <ion-tab id="user" class="tabs-background-user" href="#/tab/user">
    <ion-nav-view name="user"></ion-nav-view>
  </ion-tab>

</ion-tabs>
