<ion-view hide-nav-bar="true">
  <ion-content class="user">
    <div class="top">
      <img width="100" src="../img/icon-man.svg">
      <h1>{{user.users_username}}</h1>
    </div>
    <div class="bottom">
      <div class="bar"></div>
      <label class="item item-input">
        <img src="../img/icon-mail-pos.svg">
        <input required type="email" placeholder="EMAIL" ng-model="user.users_email">
      </label>
      <div id="bell" class="notifications center" ng-click="toggle()"></div>
    </div>
  </ion-content>
</ion-view>
