.express .wrapper .button{
  margin-top: 40px;
  border-radius: 5px;
  color: white;
  font: 400 25px "Baloo Bhaina", sans-serif;
  padding: 10px 0;
  width: 60%;
  background: #00a9a0; /* Old browsers */
  background: -moz-linear-gradient(left,  #00a9a0 0%, #97ca92 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #00a9a0 0%,#97ca92 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #00a9a0 0%,#97ca92 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9a0', endColorstr='#97ca92',GradientType=0 ); /* IE6-9 */
}

.express h1{
  margin-top: 80px;
}

.express .create-menu p{
  font: 400 16px Lato, sans-serif;
  color: #00aba1;
  text-align: center;
  max-width: 70vw;
  margin: 10px auto;
}

.express .tap{
  font: 400 italic 16px Lato, sans-serif;
  opacity: 0.5;
}

.express .selector{
  text-align: center;
  margin: 20px auto;
}

.express .selector img, .express .selector input{
  display: inline-block;
}

.express .selector input{
  margin: 0 10px;
  text-align: center;
  background: transparent;
  border: none;
  width: 30px;
  font: 400 30px Lato, sans-serif;
  color: #00aba1;
}

.express .meal, .week-plan .meal{
  width: 80%;
  position: relative;
  background-color: gray;
  height: 20vh;
  border-radius: 5px;
  margin: 20px auto;
}

.express .meal .recipe-img, .week-plan .meal .recipe-img{
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  background-color: #353535;
  z-index: -1;
}

.express .meal .duration, .week-plan .meal .duration{
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
}

.express .meal .duration img, .week-plan .meal .duration{
  width: 25px;
}

.express .meal .meal-info, .week-plan .meal .meal-info{
  position: absolute;
  bottom: 5px;
  left: 20px;
  text-align: left;
}

.express .meal h2, .week-plan .meal h2{
  font: 700 16px 'Lato', sans-serif!important;
  margin-bottom: 0px;
}

.express .meal h2, .express .meal p, .week-plan .meal h2, .week-plan .meal p{
  color: white;
  opacity: 1;
}

.express .favorite, .week-plan .favorite{
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0.3;
}

.express .fav-active, .week-plan .fav-active{
  opacity: 1;
}

.express .buttons{
  text-align: center;
  margin: 10px auto 30px;
}

.express .buttons img{
  margin: 0 5px;
}
