.home .top{
  height: 50vh;
  text-align: center;
  color: #00aba1!important;
}

.home .top h2, .planning h1, .express h1, .week-plan h1{
  font: 400 20px "baloo_bhainaregular", cursive;
  text-align: center;
  margin-bottom: 5px;
  color: #00aba1;
}

.home .top a{
  font: 300 150px Lato, sans-serif;
  text-decoration: none;
  margin-bottom: 10px;
}

.home .top p, .planning .tap{
  font: 400 italic 16px Lato, sans-serif;
  opacity: 0.5;
}

.home .menu{
  height: 50vh;
  width: 100%;
  margin-top: 50vh;
}

.home .menu a{
  text-align: center;
  height: 25vh;
  width: 50%;
  float: left;
  text-decoration: none;
}

.home .menu h1{
  font: 400 16px "baloo_bhainaregular", cursive;
  color: white;
  margin: 0;
}

.home #planning{
  background-color: #00aba1;
}

.home #express{
  background-color: #52b59e;
}

.home #shoppinglist{
  background-color: #79c099;
}

.home #user{
  background-color: #98cb94;
}

.top.meal{
  background-color: #353535;
}

.home .top.meal .recipe-img{
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  background-color: #353535;
  z-index: -1;
}

.top.meal .day-wrapper{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  background-image: url('../img/cal.svg');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}

.day-wrapper .day p{
  font-style: normal;
  font-weight: 700;
  padding: 5px;
  margin-top: 20px;
  font-size: 25px;
  line-height: 50%;
}

.day-wrapper .day p span{
  font-weight: 400;
  font-size: 14px;
}

.top.meal .duration{
  position: absolute;
  top: 20px;
  right: 20px;
}

.top.meal .duration img{
  width: 35px;
}

.top.meal .meal-info{
  position: absolute;
  bottom: 10px;
  left: 20px;
  text-align: left;
}

.meal h2{
  font: 700 25px 'Lato', sans-serif!important;
}

.home .top.meal h2, .top.meal p{
  color: white;
  opacity: 1;
}
