.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.login, .register{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a9a0+0,97ca92+100 */
background: #00a9a0; /* Old browsers */
background: -moz-linear-gradient(top,  #00a9a0 0%, #97ca92 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #00a9a0 0%,#97ca92 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #00a9a0 0%,#97ca92 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9a0', endColorstr='#97ca92',GradientType=0 ); /* IE6-9 */

}

.register h2{
  font: 400 20px "baloo_bhainaregular", cursive;
  color: white;
  display: block;
  margin: 40px auto 0;
}

.login a, .register a{
  text-decoration: none;
}

.login .logo{
  text-align: center;
  margin-top: 40px;
  margin-bottom: -10px;
}

.login .logo img{
  width: 40vw;
  margin-left: 15px;
}

.login input, .register input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  font: 400 16px Lato, sans-serif;
  color: white;
  text-align: center;
  margin: 10px 0;
  padding: 5px!important;
}

.login input::-webkit-input-placeholder, .register input::-webkit-input-placeholder, .ng-binding, .error{
  font: 400 14px Lato, sans-serif;
  text-align: center;
  color: rgb(238, 238, 238);
}

.login .item, .login .list-inset, .register .item, .register .list-inset{
  background-color: transparent;
  border: none;
}

.login .item img, .register .item img{
  width: 25px;
}

.login-button, .register-button{
  padding: 5px 70px;
  background-color: #f8ef92;
  color: #71bfa1;
  border: none;
  border-radius: 5px;
  font: 400 20px "baloo_bhainaregular", cursive;
}

.login .fb-button, .login .g-button{
  background-color: white;
  color: #71bfa1;
  border: none;
  border-radius: 5px;
  height: 50px;
  padding: 5px 25px;
  font: 400 16px "baloo_bhainaregular", cursive;
  width: 95px;
  display: inline-block;
}

.login .fb-button img, .login .g-button img{
  margin-top: 10px;
}

.login h3, .register h3{
  font: 300 14px Lato, sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

.login h3 a, .register h3 a{
  font-weight: 700;
  color: white;
}

#avatar1, #avatar2{
  opacity: 0.3;
}

.avatar-active{
  opacity: 1!important;
}


label.ng-binding, .error {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form{
  margin-top: -30px;
}
