.planning2{
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.planning .menu-row{
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.planning .menu-row img{
  padding: 5px 0;
}

.planning .wrapper{
  margin-top: 20vh;
}

.planning .top-bar, .express .top-bar{
  height: 10px;
  background: #00a9a0; /* Old browsers */
  background: -moz-linear-gradient(left,  #00a9a0 0%, #97ca92 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #00a9a0 0%,#97ca92 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #00a9a0 0%,#97ca92 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9a0', endColorstr='#97ca92',GradientType=0 ); /* IE6-9 */
}

.planning h1{
  text-align: center;
}

.planning p{
  font: 400 16px Lato, sans-serif;
  color: #00aba1;
  text-align: center;
  max-width: 80vw;
}

.week-plan h1{
  margin-bottom: -8px;
}

.row.dies{
  width: 100%!important;
  padding: 0!important;
}

.dia{
  background-color: #f2f2f2;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  line-height: 80%;
}

.dia span{
  font-size: 20px;
}

.dia.active{
  background-color: #00a9a0;
  color: white;
}

.dia p{
  color: black;
}

.dia.active p{
  color: white;
}

.meal-type{
  height: 40px;
}

.meal-type h3{
  font-size: 14px;
  text-align: center;
  background-color: rgba(0,170,161,0.4);
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 12px 0;
  color: white;
}

.meal-type h3.active{
  background-color: #00a9a0;
}

.week-plan .meal{
  margin-top: 0;
}

.week-plan .wrapper{
  margin-top: 0!important;
  height: 72vh;
  padding-top: 20px;
  background: #00a9a0; /* Old browsers */
  background: -moz-linear-gradient(top,  #00a9a0 0%, #97ca92 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #00a9a0 0%,#97ca92 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #00a9a0 0%,#97ca92 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9a0', endColorstr='#97ca92',GradientType=0 ); /* IE6-9 */
}

.week-plan .add{
  margin-top: 10px!important;
  width: 80vw;
  padding: 10px 70px;
  border-radius: 5px;
  border: 3px solid white;
  color: white;
  font-size: 30px;
  text-align: center;
  transition: 0.3s;
}

.week-plan .add:hover{
  background-color: white;
  color: #00a9a0;
}
