/* Empty. Add your own CSS if you like */

@import "login.css";
@import "home.css";
@import "planning.css";
@import "express.css";
@import "user.css";

body{
  margin: 0;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
    font-family: 'baloo_bhainaregular';
    src: url('../fonts/baloobhaina-regular-webfont.woff2') format('woff2'),
         url('../fonts/baloobhaina-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*MENU TABS*/

.tabs{
  padding-top: 0;
}

.tabs-background-planning{
  background-color: #00aba1;
  background-image: url(../img/planning.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  opacity: 1;
}
.tabs-background-express{
  background-color: #52b59e;
  background-image: url(../img/express.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  opacity: 1;
}
.tabs-background-list{
  background-color: #79c099;
  background-image: url(../img/shoppinglist.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  opacity: 1;
}
.tabs-background-user{
  background-color: #98cb94;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center center;
  opacity: 1;
}

.row + .row{
  margin-top: 0;
}
