.user .top, .bottom{
  height: 46vh;
  text-align: center;
}

.user .top{
  background: #00a9a0; /* Old browsers */
  background: -moz-linear-gradient(top,  #00a9a0 0%, #97ca92 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #00a9a0 0%,#97ca92 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #00a9a0 0%,#97ca92 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9a0', endColorstr='#97ca92',GradientType=0 ); /* IE6-9 */
}

.user img{
  margin-top: 40px;
}

.user h1{
  font: 400 20px "baloo_bhainaregular", cursive;
  color: white;
}

.user .bottom .bar{
  margin-top: 10px;
  height: 10px;
  background: #00a9a0; /* Old browsers */
  background: -moz-linear-gradient(right,  #00a9a0 0%, #97ca92 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right,  #00a9a0 0%,#97ca92 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left,  #00a9a0 0%,#97ca92 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9a0', endColorstr='#97ca92',GradientType=0 ); /* IE6-9 */
}

.user label{
  width: 90vw;
  margin-left: 5px;
}

.user input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #00a9a0;
  outline: none;
  font: 400 14px Lato, sans-serif;
  color: #00a9a0;
  text-align: center;
  margin: 100px 0 20px;
}

.user input::-webkit-input-placeholder, .user input::-webkit-input-placeholder{
  font: 400 14px Lato, sans-serif;
  text-align: center;
  color: rgb(150, 150, 150);
}

.user .item, .user .list-inset, .user .item, .user .list-inset{
  background-color: transparent;
  border: none;
}

.user .item img{
  width: 25px;
  margin-top: 75px;
}

.notifications{
  background-image: url('../img/bell.svg');
  background-size: cover;
  width: 45px;
  height: 45px;
}

.notifications.none{
  background-image: url('../img/bell-none.svg')
}
